# Importing libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

# Reading dataset

In [5]:
def read_file(*args)->pd.DataFrame:
    path = os.path.join(*args)
    return pd.read_csv(path)

In [12]:
folder="/home/spynom/project/real-state-regression-project/"

In [26]:
train=read_file(folder,"data","clean","train.csv")

In [27]:
train.head(10)

,size,address,rate,property_status,bathrooms,floor,balconies,security_deposit,facing,furnishing_status,...,furnish_detail_bed,furnish_detail_dining_table,furnish_detail_washing_machine,furnish_detail_tv,furnish_detail_microwave,furnish_detail_wardrobe,furnish_detail_sofa,furnish_detail_wifi,furnish_detail_refrigerator,price_in_lakh
0,2350.0,"sector 152, noida",10212.0,Under Construction,4.0,NaN,NaN,No Deposit,North,Semi-Furnished,...,False,False,False,False,False,False,False,False,False,240.0
1,2350.0,"sector 150, noida",13308.0,Under Construction,3.0,NaN,NaN,No Deposit,NaN,Unfurnished,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312.0
2,1265.0,"sector 150, noida",11067.0,Ready to move,2.0,NaN,NaN,No Deposit,NorthEast,Semi-Furnished,...,True,False,False,False,True,False,False,False,False,140.0
3,1625.0,"sector 150, noida",15384.0,Ready to move,3.0,NaN,NaN,No Deposit,NorthEast,Semi-Furnished,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
4,1770.0,"yamuna expressway, noida, noida",4028.0,Under Construction,3.0,7th of 23,NaN,No Deposit,NaN,Unfurnished,...,False,True,True,False,False,False,True,True,True,71.3
5,928.0,"sector 151, noida",3232.0,Ready to move,2.0,3rd of 17,NaN,No Deposit,NaN,Semi-Furnished,...,False,False,False,False,False,True,False,False,False,30.0
6,1400.0,"sector 77, noida",11000.0,Ready to move,2.0,NaN,NaN,No Deposit,NaN,Unfurnished,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,154.0
7,1400.0,"sector 129, noida",8357.0,Ready to move,3.0,NaN,NaN,No Deposit,NaN,Semi-Furnished,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0
8,1600.0,"sector 45, noida",9375.0,Ready to move,3.0,NaN,NaN,No Deposit,East,Semi-Furnished,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0
9,2760.0,"sector 150, noida",5200.0,Ready to move,4.0,NaN,NaN,No Deposit,NaN,Unfurnished,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.0

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7305 entries, 0 to 7304
Data columns (total 62 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   size                             7265 non-null   float64
 1   address                          7265 non-null   object
 2   rate                             7223 non-null   float64
 3   property_status                  7265 non-null   object
 4   bathrooms                        5830 non-null   float64
 5   floor                            689 non-null    object
 6   balconies                        99 non-null     float64
 7   security_deposit                 7265 non-null   object
 8   facing                           3289 non-null   object
 9   furnishing_status                7265 non-null   object
 10  rera_id                          4817 non-null   object
 11  ownership_type                   1020 non-null   object
 12  booking_amount                   1151 non-null   object
 13  overlooking                      1006 non-null   object
 14  bedroom                          7265 non-null   float64
 15  type1                            7265 non-null   object
 16  type2                            7265 non-null   object
 17  carpet_area                      3764 non-null   float64
 18  age_of_property                  3761 non-null   float64
 19  floor.1                          689 non-null    float64
 20  total_floor                      684 non-null    float64
 21  additional_rooms                 563 non-null    float64
 22  price_negotiable                 7265 non-null   object
 23  balconies.1                      561 non-null    float64
 24  type_of_sale                     7265 non-null   object
 25  booking_amount_in_lakh           1151 non-null   float64
 26  amenities_sports_facility        6644 non-null   object
 27  amenities_shopping_mall          6644 non-null   object
 28  amenities_maintenance_staff      6644 non-null   object
 29  amenities_jogging_track          6644 non-null   object
 30  amenities_atm                    6644 non-null   object
 31  amenities_gymnasium              6644 non-null   object
 32  amenities_indoor_games           6644 non-null   object
 33  amenities_rain_water_harvesting  6644 non-null   object
 34  amenities_swimming_pool          6644 non-null   object
 35  amenities_intercom               6644 non-null   object
 36  amenities_cafeteria              6644 non-null   object
 37  amenities_full_power_backup      6644 non-null   object
 38  amenities_lift                   6644 non-null   object
 39  amenities_childrens_play_area    6644 non-null   object
 40  amenities_car_parking            6644 non-null   object
 41  amenities_landscaped_gardens     6644 non-null   object
 42  amenities_24_x_7_security        6644 non-null   object
 43  amenities_club_house             6644 non-null   object
 44  amenities_staff_quarter          6644 non-null   object
 45  amenities_hospital               6644 non-null   object
 46  amenities_multipurpose_room      6644 non-null   object
 47  amenities_vaastu_compliant       6644 non-null   object
 48  amenities_golf_course            6644 non-null   object
 49  amenities_school                 6644 non-null   object
 50  furnish_detail_gas_connection    2724 non-null   object
 51  furnish_detail_ac                2724 non-null   object
 52  furnish_detail_bed               2724 non-null   object
 53  furnish_detail_dining_table      2724 non-null   object
 54  furnish_detail_washing_machine   2724 non-null   object
 55  furnish_detail_tv                2724 non-null   object
 56  furnish_detail_microwave         2724 non-null   object
 57  furnish_detail_wardrobe          2724 non-null   object
 58  furnish_detail_sofa              2724 non-null   object
 59  furnish_detail_wifi              2724 non-null   object
 60  furnish_detail_refrigerator      2724 non-null   object
 61  price_in_lakh                    7223 non-null   float64
dtypes: float64(13), object(49)
memory usage: 3.5+ MB

In [29]:
train.describe(include="number")

,size,rate,bathrooms,balconies,bedroom,carpet_area,age_of_property,floor.1,total_floor,additional_rooms,balconies.1,booking_amount_in_lakh,price_in_lakh
count,7265.000000,7223.000000,5830.000000,99.000000,7265.000000,3764.000000,3761.000000,689.000000,684.000000,563.000000,561.000000,1151.000000,7223.000000
mean,1892.628768,8944.748996,2.708919,2.949495,2.887268,1276.686769,5.690242,8.615385,18.733918,1.909414,2.925134,7.662790,195.323449
std,1206.906082,5754.553283,1.007183,1.128244,0.852138,688.290214,5.703539,5.891100,8.698932,0.952969,1.244169,17.247842,230.110627
min,250.000000,355.000000,1.000000,1.000000,1.000000,100.000000,1.000000,0.000000,3.000000,1.000000,1.000000,0.100000,11.500000
25%,1155.000000,4238.500000,2.000000,2.000000,2.000000,875.000000,2.000000,5.000000,13.000000,1.000000,2.000000,0.850000,58.000000
50%,1560.000000,7800.000000,3.000000,3.000000,3.000000,1150.000000,6.000000,7.000000,18.000000,1.000000,3.000000,1.000000,116.000000
75%,2164.000000,12114.000000,3.000000,4.000000,3.000000,1455.000000,8.000000,11.000000,22.000000,3.000000,4.000000,5.000000,244.000000
max,18072.000000,83037.000000,7.000000,5.000000,7.000000,11450.000000,125.000000,45.000000,80.000000,3.000000,7.000000,100.000000,3830.000000

In [30]:
train.describe(include="object")

,address,property_status,floor,security_deposit,facing,furnishing_status,rera_id,ownership_type,booking_amount,overlooking,...,furnish_detail_ac,furnish_detail_bed,furnish_detail_dining_table,furnish_detail_washing_machine,furnish_detail_tv,furnish_detail_microwave,furnish_detail_wardrobe,furnish_detail_sofa,furnish_detail_wifi,furnish_detail_refrigerator
count,7265,7265,689,7265,3289,7265,4817,1020,1151,1006,...,2724,2724,2724,2724,2724,2724,2724,2724,2724,2724
unique,125,2,228,1,8,3,188,4,150,17,...,2,2,2,2,2,2,2,2,2,2
top,"sector 150, noida",Ready to move,7th of 13,No Deposit,NorthEast,Semi-Furnished,Rera Not Applicable,Freehold,"1,00,000","Corner, Garden View, Pool View, Road View",...,False,False,False,False,False,False,False,False,False,False
freq,1064,5100,43,7265,1459,3865,917,620,104,655,...,1574,2481,2015,2087,2332,2045,2528,2004,2179,1991